body {
  margin: 10px;
  font-family: "Poppins", sans-serif;
}
.movie-list {
  display: flex;
  gap: 15px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
.poster {
  height: 500px;
  width: 350px;
  object-fit: cover;
  box-shadow: 2px 2px 10px 2px grey;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 8px;
}

.movie-container {
  /* margin: 10px; */
  /* gap: 10px; */
  width: 350px;
  /* background-color: gray; */
  /* border: 1px solid red; */
  align-self: baseline;
}
.main-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.movie-specs {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.movie-name {
  margin: 8px 0;
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
p {
  text-align: justify;
}
.summary {
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
button {
  /* margin: 2px; */
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  font-size: 18px;
  padding: 5px;
}
.btn-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
}
