body {
  /* margin: 10px; */
  /* padding: 10px; */
  font-family: "Poppins", sans-serif;
}
.movie-list {
  margin-top: 24px;
  display: flex;
  gap: 15px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
.poster {
  height: 500px;
  width: 360px;
  object-fit: cover;
  /* box-shadow: 2px 2px 10px 2px grey; */
  display: block;
  margin: auto;
  /* margin-bottom: 5px; */
  /* border-radius: 8px; */
}

.movie-container {
  margin: 10px 0;
  /* gap: 10px; */
  width: 360px;
  height: min-content;
  /* background-color: gray; */
  /* border: 1px solid red; */
  align-self: baseline;
  /* align-self: center; */
}
.main-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.movie-specs {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.movie-name {
  /* margin: 8px 0; */
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
p {
  text-align: justify;
}
.summary {
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
button {
  /* margin: 2px; */
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  font-size: 18px;
  padding: 5px;
}
.btn-container {
  /* margin: 5px 0; */
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
}

.movie-detail-container {
  padding: 1rem;
  max-width: 50rem;
}
.add-movie-form {
  padding: 24px;
}
/* .nav {


  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
} */
/* .nav a {
  color: brown;
  text-decoration: none;
} */
